* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}

.div1 {
  color: white;
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
}

.div2 {
  color: rgb(255, 254, 254);
  font-size: 20px;
  display: grid;
  gap: 20px;
}

input {
  font-size: x-large;
  display: block;
  margin-bottom: 1ren;
  background-color: #e0e0e0;
  color: #ad00fd;
  border: none;
}

input::placeholder {
  color: azure;
  opacity: 40%;
  padding-left: 1rem;
}

.button {
  color: #ffffff;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  background-color: #ad00fd;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border: 2px solid #000000;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 8px;
  color: #ad00fd;
  height: 120px;
  width: 600px;
  background-color: #e0e0e0;
  border: solid 2px #ad00fd;
}

.cardDiv {
  /* width: auto; */
  background-color: transparent;
}

.cards{
  margin-top: 7rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.Menu {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 10%;
}

.menu {
  display: flex;
  gap: 1rem;
  width: auto;
  height: 10rem;
}

.title {
  font-size: 5rem;
  color: #ad00fd;
  text-align: center;
}

.divPerfil {
  display: grid;
  width: 3px;
  
}

.namePerfil {
  font-size: small;
  color: #ad00fd;
  background-color: transparent;
  text-align: center;
}

.imgPerfil {
  margin: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
